body
 		{background-color: #FFDCAE;}
 	hr
 	 {border-color: white ;
      border-style: none none dotted;
      border-width: 7px;
      width: 8%
 	 }

h1 {color: #0014FF;}


h3 {color: #009EFF;}

